/* FONTS */

@font-face {
    font-family: GothamBlack; 
    src: url(fonts/GothamBlack.otf);  
}
@font-face {
    font-family: OpenSans; 
    src: url(fonts/OpenSans.ttf);  
}
@font-face {
    font-family: Lato; 
    src: url(fonts/Lato.ttf);  
}
@font-face {
    font-family: LatoBold; 
    src: url(fonts/LatoBold.ttf);  
}
@font-face {
    font-family: BrandonGrotesqueBold; 
    src: url(fonts/BrandonGrotesqueBold.ttf);  
}
@font-face {
    font-family: FontAwesome; 
    src: url(fonts/FontAwesome.otf);  
}

/* ALL BLOCKS */

.main {
    width: 100%;
    margin: 0; 
    font-family: arial;
    font-size: 16px;
}
.allblocks {
    margin-left: calc(50% - 585px);
    margin-right: calc(50% - 585px);
}
a {
    color: #aeaeae;
    text-decoration: none;
    padding: 1em 1.67em;  
    border-radius: 2px;
   }
a:hover {
    color: #ffffff; 
    padding: 1em 1.67em;
    background-color: #ffbb42; 
    border-radius: 2px;
   }
.a1 {
    padding: 0em 0em;
   }
.a1:hover {
    padding: 0em 0em;
    background-color: transparent;
   }  
.a2 {
    padding: 0em 1.67em;
    color: #394b50;
   }
.a2:hover {
    padding: 0em 1.67em;
    color: #ffbb42;
    background-color: transparent;
   }  
.caption1 {
    margin: 0;
    font-family: GothamBlack;
    text-align: center;
    font-size: 1.86em;
    color: #ffffff;
    padding-top: 3.6em;
}
.caption2 {
    margin: 0;
    font-family: OpenSans;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
}

/*  HEADER  */

.header {
    display: flex;
    
    justify-content: space-between;
    background-color: #ffffff;
    height: 90px; 
} 
.logo {
    padding-top: 2%;
}
/*.menu {
    padding-top: 1%;
}
.menu_text li {
    display: inline-block; 
    font-size: 1em;
    letter-spacing: -0.06em;
    line-height: 2.5em;
}*/

nav {
    padding-top: 1%; 
}
.list-menu {
    display: flex;
    list-style: none;
}
.list-menu li {
    color: #aeaeae;
    display: block;
    font-size: 1em;
    letter-spacing: -0.06em;
    line-height: 2.5em;
}
#btn-menu {
    display: none;
}
#btn-menu + label {
    display: none; 
    position: relative;
    color: #aeaeae; 
    height: 20px;
    z-index: 1;
    cursor: pointer;
}
#btn-menu + label:before {
    content: '\f0c9';  
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 25px;
    margin: 10px 130px 0 0;
}
#btn-menu:checked + label:before {
    content: '\f00d';
    color: #f00;
    font-size: 30px;
}

/*  BLOCK2  */

.block2 {
    background-color: #709dca;
    height: 590px;
}
.block2_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    padding-top: 2em;
}
.block2_iconsall {
    padding: 20px 20px 20px 40px;
    /*width: 280px;*/
    border: none;
    border-radius: 2px;
    border: 1px solid #ccc;
}
.block2_icon1 {
    background: url(img/Name.png) no-repeat 15px 20px;
    background-size: auto 27%;
    background-color: #ffffff;
}
.block2_icon2 {
    background: url(img/Email.png) no-repeat 15px 20px;
    background-size: auto 27%;
    background-color: #ffffff;
}
.block2_icon3 {
    background: url(img/Phone.png) no-repeat 15px 20px;
    background-size: auto 27%;
    background-color: #ffffff;
}
.submit {
    padding: 20px 20px;
    width: 210px;
    border: none;
    border-radius: 2px;
}
.submit:hover {
    background-color: #ffbb42;
    color: #ffffff;
}

/*  SLIDER  */

.block2_slider {
    margin: auto;
    height: 340px;
    width: 650px;
    text-align: center; 
    position: relative;
    top: 50px;
    background: url(img/slider.png) no-repeat;
    background-size: auto;
	background-position: center;
}
.block2_slider_picturies {
	margin: auto;
    overflow: hidden;
    height: 74.6%;
    width: 69.5%;
	position: relative;
	left: 0%;
	top: 4%;
}
.block2_slider > input {
    display: none;
}
.slides {
	height: 100%;
	position: absolute;
	width: 100%;
}
.slide1 { background-image: url(img/Slide1.jpg); background-size: 100%; }
.slide2 { background-image: url(img/Slide2.jpg); background-size: 100%; }
.slide3 { background-image: url(img/Slide3.jpg); background-size: 100%; }

.block2_slider .controls {
	position: relative;
	left: 0%;
	top: 25%;
}
.block2_slider label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}
.block2_slider label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}
.block2_slider label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
	background: #ddd;
}
#slide1:checked ~ .block2_slider_picturies > .slide1,
#slide2:checked ~ .block2_slider_picturies > .slide2,
#slide3:checked ~ .block2_slider_picturies > .slide3 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}   

/*  BLOCK3  */

.block3 {
    background-color: #ffffff;
    height: 925px;
}
.block3_caption1 {
    color: #394b50;
    padding-top: 5.5em;
}
.block3_caption2 {
    color: #394b50;
}
.block3_text1 {
    margin: 0;
    font-family: Lato; 
    font-size: 1em;
    color: #394b50;
    font-weight: bold;
    margin-left: 15%;
}
.block3_text2 {
    font-size: 0.81em;
    font-family: OpenSans; 
    color: #394b50;
    margin-left: 15%;
    line-height: 1.8em;
}
.block3_service {
    display: flex;
    padding-top: 5.5em;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*.block3_service :nth-child(2n) {
    left: 8%;
}*/
.block3_service1-7 {
    /*float: left; */
    height: 18.38%;
    width: 45%;
    position: relative;
    background-size: auto; 
}
.block3_service1 {
    background: url(img/Service1.png) no-repeat 5px 0px;
}
.block3_service2 {
    background: url(img/Service2.png) no-repeat 5px 0px;
}
.block3_service3 {
    background: url(img/Service3.png) no-repeat 5px 0px;
}
.block3_service4 {
    background: url(img/Service4.png) no-repeat 5px 0px;
}
.block3_service5 {
    background: url(img/Service5.png) no-repeat 5px 0px;
}
.block3_service6 {
    background: url(img/Service6.png) no-repeat 5px 0px;
}

/*  BLOCK4  */

.block4 {
    background-color: #ffc155;
    height: 625px;
}
.block4-1 {
    float: left; 
    height: 100%;
    width: 50%;
    background: url(img/AboutUs.png) no-repeat;
}
.block4-2 {
    float: left; 
    height: 100%;
    width: 45%;
}
.block4_caption1 {
    text-align: left;
    color: #ffffff;
    padding: 30% 0 0 15%;
}
.block4_text1 {
    font-size: 0.81em;
    font-family: OpenSans; 
    color: #ffffff;
    line-height: 1.8em;
    padding-left: 15%;
}
.block4_Button {
    padding: 1em 1.67em;
    color: #ffffff;
    border: 2px solid #e7ad48;
    position: relative;
    top: 2.5em;
    left: 15%;
}

/*  BLOCK5  */

.block5 {
    background-color: #e7edf3;
    height: 900px;
}
.block5_caption1 {
    color: #394b50;
    padding-top: 4.4em;
}
.block5_caption2 {
    color: #394b50;
    padding-bottom: 5em;
}
.block5_pricelist {
    display: flex;
    justify-content: space-between;
}
.block5_price {
    /*float: left;*/
    height: 48.9%;
    width: 33.1%;

    background-color: #ffffff;
    border: 2px solid #ccd5df;
    text-align: center;
}
.block5_price:hover {
    background-color: #709dca;
    border: 2px solid #ccd5df;
    position: relative;
    top: -2.1875em;
    height: 57%;
}
.block5_price:nth-child(2n) {
    border-left: none;
    border-right: none;
}
.block5_price_line {
    position: relative;
    left: 10%;
    top: -15%;
    width: 80%;
    height: 10%;
    border-top: 2px solid #e2e9f0;
}
.block5_price:hover .block5_price_line {
    position: relative;
    left: 10%;
    top: -6.5%;
    width: 80%;
    height: 9%;
    border-top: 2px solid #e2e9f0;
}
.block5_price_text1 {
    font-family: Lato; 
    position: relative;
    top: 7%;
    color: #8b949d;
    font-size: 1.55em;
}
.block5_price_text2 {
    font-family: Lato; 
    position: relative;
    top: -3%;
    color: #ffc155;
    font-size: 3.72em;
}
.block5_price_text3 {
    font-family: Lato; 
    top: -17%;
    font-size: 1em;
}
.block5_price_text4 {
    font-family: Lato; 
    color: #bac0c5;
    font-size: 1em;
}
.block5_Button {
    padding: 1em 1.67em;
    color: #ffffff;
    position: relative;
    top: -2.25em;
    background-color: #ffc155;
}
.block5_price:hover .block5_price_text1 {
    top: 13%;
    color: #ffffff;
}
.block5_price:hover .block5_price_text2 {
    top: 4.5%;
    color: #ffffff;
}
.block5_price:hover .block5_price_text3 {
    top: -7.5%;
    font-size: 1em;
    color: #c2e1ff;
}
.block5_price:hover .block5_price_text4 {
    color: #c2e1ff;
    font-size: 1em;
}
.block5_price:hover .block5_Button {
    top: -0.375em;
}

/*  BLOCK6  */

.block6 {
    background-color: #ffffff;
    height: 860px;
}
.block6__caption1 {
    color: #394b50;
    padding-top: 5em;
}
.block6__caption2 {
    color: #394b50;
    padding-bottom: 4.7em;
}
.block6__icons {
    display: flex;
    justify-content: center;
}
.block6__icons_icon1234567 {
    width: 11%;
    height: 15.6%;
    }
.block6__icons_icon1 {
    background: url(img/Icon1.png) no-repeat 1.75em 2.25em;
}
.block6__icons_icon2 {
    background: url(img/Icon2.png) no-repeat;
}
.block6__icons_icon3 {
    background: url(img/Icon3.png) no-repeat 2.5em 2em;
}
.block6__icons_icon4 {
    background: url(img/Icon2.png) no-repeat;
    transform: rotate(180deg);
}
.block6__icons_icon5 {
    background: url(img/Icon4.png) no-repeat 1.5em 2.25em;
}
.block6__icons_icon6 {
    background: url(img/Icon2.png) no-repeat;
}
.block6__icons_icon7 {
    background: url(img/Icon5.png) no-repeat 1.75em 2.125em;
}
/*.block6__icons_crop1, .block6__icons_crop2, .block6__icons_crop3, .block6__icons_crop4, 
.block6__icons_crop5, .block6__icons_crop6, .block6__icons_crop7 {
    position:relative;
    width: 11%;
    height: 15.6%;
    overflow: hidden;
	border:1px solid #ccc;
	}
.block6__icons_crop1 img{
	margin:0;
	position:absolute;
	top: 0px;
    left: 30px;
	clip:rect(32px 100px 100px 0px);
    }
.block6__icons_crop2 img {
    margin:0;
	position:absolute;
	top: 0px;
    left: -72px;
}
.block6__icons_crop3 img{
	margin:0;
	position:absolute;
	top: 0px;
	left: -162px;
	clip:rect(25px 252px 100px 200px);
	}
.block6__icons_crop4 img {
    margin:0;
	position:absolute;
	top: 34px;
    left: -208px;
    transform: rotate(180deg);
}*/
.block6__icons-text {
    display: flex;
    justify-content: center;
}
.icons-text__text {
    text-align: center;
    width: 18%;
    padding: 50px 20px 0px 20px;
}
.icons-text__text_text1 {
    font-family: Lato; 
    font-weight: bold;
    font-size: 1.25em;
}
.icons-text__text_text2 {
    font-family: OpenSans; 
    font-size: 0.8125em;
    line-height: 1.8em;
}
.block6_Button {
    text-align: center;
    padding-top: 5.6em;
}
.block6_Button_text {
    padding: 1em 1.67em;
    color: #ffffff;
    text-align: center;
    background-color: #ffc155;
}

/*  BLOCK7  */

.block7 {
    background-color: #ffc155;
    height: 910px;
}
.block7__caption1 {
    padding-top: 4.7em;
}
.block7__clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-content: space-between;
    height: 55.5%;
    padding-top: 3.7em;
}
.clients__client1234 {
    width: 48%;
    height: 48%;
}
.clients__client1 {
    background: url(img/Client1.png) no-repeat 30px 45px;
    background-color: #ffffff;
}
.clients__client2 {
    background: url(img/Client2.png) no-repeat 30px 45px;
    background-color: #ffffff;
}
.clients__client3 {
    background: url(img/Client3.png) no-repeat 30px 45px;
    background-color: #ffffff;
}
.clients__client4 {
    background: url(img/Client4.png) no-repeat 30px 45px;
    background-color: #ffffff;
}
.clients__client1_text1 {
    font-family: OpenSans; 
    color: #7b7b7b;
    font-size: 0.8125em;
    padding: 2.5em 4em 0em 14em;
    line-height: 1.8em;
    text-indent: -10px;
}
.clients__client1_text2 {
    font-family: BrandonGrotesqueBold; 
    font-size: 2em;
}
.clients__client1_text3 {
    font-family: Lato; 
    text-transform: uppercase;
    color: #f6772c;
    font-size: 0.875em;
    padding-left: 13em;
}
.clients__client1_text4 {
    font-family: Lato; 
    text-transform: uppercase;
    color: #99a9ae;
    font-size: 1em;
}

/*  BLOCK8  */

.block8 {
    background-color: #ffffff;
    height: 1160px;
}
.block8__caption1 {
    color: #394b50;
    padding-top: 4.7em;
}
.block8__caption2 {
    color: #394b50;
    padding-bottom: 2.4em;
}
.block8__form {
    text-align: center; 
}
.block8__map {
    height: 50%;
    background: url(img/map.png) no-repeat 0px 35px;
    text-align: center;
    padding-top: 5.4%;
    border-bottom:1px solid #ccc;
}
.block8__circle {
    margin: auto;
    width: 17.5em;
    height: 17.5em;
    border-radius: 8.75em;
    background: #394b50;
  }
.block8__triangle {
    margin: auto;
    width: 0.1em;
    height: 0.1em;
    border: 1.25em solid transparent;	
    border-top: 1.25em solid #394b50;
    margin-top: -5px;
}
.block8__circle_text1 {
    font-family: Lato;
    font-size: 0.9375em;
    text-align: center;
    color: #ffffff;
    padding-top: 4.06em;
  }
.block8__circle_text2 {
    font-family: Lato;
    font-size: 0.8125em;
    text-align: center;
    color: #aeb7ba;
    line-height: 1.2em;
  }
.block8__circle_text3 {
    color: #cb9b47;
  }
.block8__menu {
    padding-top: 3em;
    text-align: center;
}
.block8__menu_text li {
    display: inline-block; 
    font-family: Lato;
    font-size: 1em;
    letter-spacing: -0.06em;
    padding-bottom: 1em;
}
.block8__phone {
    height: 2em;
    width: 11.5em;
    background: url(img/Phone.png) 0em 0.4em no-repeat;
    background-size: 1em;
    margin: auto;
}
.block8__phone_text {
    font-family: Lato;
    font-size: 1.4em;
    color: #394b50;
    padding-left: 1.2em;
}
.block8__social1234 {
    text-align: center;
    padding-top: 0.5em;
}
.block8__social {
    height: 20px;
    width: 20px;
}

/*  FOOTER  */

.footer {
    background-color: #709dca;
    height: 45px;
    text-align: center;
}
.footer_text {
    font-family: OpenSans;
    font-size: 0.8125em;
    color: #ffffff;
    padding-top: 1.2em;
}




@media screen and (min-width: 300px) and (max-width: 499px) {
    .main {
        font-size: 10.66px;
    }
    .allblocks {
        margin-left: 0;
        margin-right: 0;
    }
    .header {
        justify-content: space-around;
        height: 130px;
    } 
   /* .menu_text li {
        display: block;
        text-align: center;
    }
    .menu {
       top: 10%;
    }*/

    #btn-menu + label {
        display: inline-block;
     }
    #btn-menu + label + .list-menu {
        display: none;
    }
    #btn-menu:checked + label + .list-menu {
        display: block;
        background-color: #ffffff;
        padding-left: 20px;
    }
    .block2_form {
        top: 12em;
    }
    .submit {
        padding: 20px 20px;
        width: 210px;
        /*border-top: 1px solid #709dca;*/
        margin-top: 5px;
        border-radius: 2px;
    }
    .block2_iconsall {
        width: 90%;
    }
    .block2_slider { 
        height: 157px;
        width: 300px;
        background-size: 100% 100%;
        top: 60px;
    }
    .block2_slider_picturies {
        top: 5%;
        height: 80%;
        width: 69.5%;
        background-size: 100% 100%;
        background-color: #f9f9f1;
    }
    .block3_text1 {
        margin-left: 23%;
    }
    .block3_text2 {
        margin-left: 23%;
    }
    .block3_service {
        top: 18%;
    }
    .block3_service :nth-child(2n) {
        left: 0%;
    }
    .block3_service1-7 {
        height: 12%;
        width: 100%;
    }
    .block4 {
        height: 550px;
    }
    .block4-1 {
        background-size: auto 100% ;
    }
    .block4-2 {
        width: 35%;
    }
    .block5 {
        height: 1260px;
    }
    .block5_caption1 {
        padding-top: 3em;
    }
    .block5_caption2 {
        padding-bottom: 3em;
    }
    .block5_pricelist {
        flex-wrap: wrap;
    }
    .block5_price {
        top: 130px;
        height: 28.017%;
        width: 100%;
    }
    .block5_price:nth-child(2n) {
        border-top: none;
        border-bottom: none;
        border-left: 2px solid #ccd5df;
        border-right: 2px solid #ccd5df;
    }
    .block5_price:hover {
        top: 0px;
        height: 28.017%;
        border: 2px solid #e2e9f0;
    }
    .block5_price:nth-child(2n):hover {
        border-top: none;
        border-bottom: none;
    }
    .block5_Button {
        top: -14px;
    }
    .block5_price_text3 {
        top: -15%;
    }
    .block5_price:hover .block5_price_line {
        top: -15%;
    }
    .block5_price:hover .block5_price_text1 {
        top: 7%;
    }
    .block5_price:hover .block5_price_text2 {
        top: -3%;
    }
    .block5_price:hover .block5_price_text3 {
        top: -15%;
    }
    .block6 {
        height: 680px;
    }    
    .block6__icons_icon1234567 {
        height: 10%;
    }    
    .block6__icons_icon1, .block6__icons_icon3, .block6__icons_icon5, .block6__icons_icon7 {
        background-position: 0px;
    }
    .block6__icons_icon1, .block6__icons_icon2, .block6__icons_icon4,
    .block6__icons_icon5, .block6__icons_icon6, .block6__icons_icon7 {
        background-size: 100%;
    }
    .block6__icons_icon3 {
        background-size: 70%;
    } 
    .block7__clients {
        height: 70%;
    }
    .clients__client1234 {
        width: 100%;
        height: 23%;
    }
    .clients__client1, .clients__client2, .clients__client3, .clients__client4 {
        background-size: 22%;
        background-position: 5px;
    } 
    .clients__client1_text1 {
        padding-top: 0.5em;
    }
    .block8 {
        background-color: #ffffff;
        height: 860px;
    }
    .block8__map {
        height: 40%;
        background-size: 100%;
    } 
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .main {
        font-size: 12px;
    }
    .allblocks {
        margin-left: 0;
        margin-right: 0;
    }
    .header {
        justify-content: space-around;
        height: 130px;
    } 
    #btn-menu + label {
        display: inline-block;
     }
    #btn-menu + label + .list-menu {
        display: none;
    }
    #btn-menu:checked + label + .list-menu {
        display: block;
        background-color: #ffffff;
        padding-left: 20px;
    }
    .block2_form {
        top: 12em;
    }
    .submit {
        padding: 20px 20px;
        width: 210px;
        /*border-top: 1px solid #709dca;*/
        margin-top: 5px;
        border-radius: 2px;
    }
    .block2_iconsall {
        width: 45%;
    }
    .block2_slider { 
        height: 157px;
        width: 300px;
        background-size: 100% 100%;
        top: 60px;
    }
    .block2_slider_picturies {
        top: 5%;
        height: 80%;
        width: 69.5%;
        background-size: 100% 100%;
        background-color: #f9f9f1;
    }
    .block3_text1 {
        margin-left: 23%;
    }
    .block3_text2 {
        margin-left: 23%;
    }
    .block3_service {
        top: 18%;
    }
    .block3_service :nth-child(2n) {
        left: 0%;
    }
    .block3_service1-7 {
        height: 12%;
        width: 100%;
    }
    .block4 {
        height: 550px;
    }
    .block4-1 {
        background-size: auto 100% ;
    }
    .block4-2 {
        width: 35%;
    }
    .block5 {
        height: 1260px;
    }
    .block5_caption1 {
        padding-top: 3em;
    }
    .block5_caption2 {
        padding-bottom: 3em;
    }
    .block5_pricelist {
        flex-wrap: wrap;
    }
    .block5_price {
        top: 130px;
        height: 28.017%;
        width: 100%;
    }
    .block5_price:nth-child(2n) {
        border-top: none;
        border-bottom: none;
        border-left: 2px solid #ccd5df;
        border-right: 2px solid #ccd5df;
    }
    .block5_price:hover {
        top: 0px;
        height: 28.017%;
        border: 2px solid #e2e9f0;
    }
    .block5_price:nth-child(2n):hover {
        border-top: none;
        border-bottom: none;
    }
    .block5_Button {
        top: -14px;
    }
    .block5_price:hover .block5_price_line {
        top: -15%;
    }
    .block5_price:hover .block5_price_text1 {
        top: 7%;
    }
    .block5_price:hover .block5_price_text2 {
        top: -3%;
    }
    .block5_price:hover .block5_price_text3 {
        top: -17%;
    }
    .block6 {
        height: 680px;
    }    
    .block6__icons_icon1234567 {
        height: 10%;
    }    
    .block6__icons_icon1, .block6__icons_icon3, .block6__icons_icon5, .block6__icons_icon7 {
        background-position: 0px;
    }
    .block6__icons_icon1, .block6__icons_icon2, .block6__icons_icon4,
    .block6__icons_icon5, .block6__icons_icon6, .block6__icons_icon7 {
        background-size: 80%;
    }
    .block6__icons_icon3 {
        background-size: 60%;
    } 
    .block7__clients {
        height: 70%;
    }
    .clients__client1234 {
        width: 100%;
        height: 23%;
    }
    .clients__client1, .clients__client2, .clients__client3, .clients__client4 {
        background-size: 16%;
        background-position: 5px;
    } 
    .clients__client1_text1 {
        padding-top: 0.5em;
    }
    .block8 {
        background-color: #ffffff;
        height: 860px;
    }
    .block8__map {
        height: 40%;
        background-size: 100%;
    } 
}

@media screen and (min-width: 800px) and (max-width: 1169px) {
    .main {
        font-size: 13px;
    }
    .allblocks {
        margin-left: calc(50% - 400px);
        margin-right: calc(50% - 400px);
    }
    .submit {
        margin-top: 5px;
    }
    .block3 {
        height: 800px;
    }
    .block3_caption1 {
        padding-top: 7em;
    }
    .block3_text1 {
        margin-left: 25%;
    }
    .block3_text2 {
        margin-left: 25%;
    }
    .block4 {
        height: 500px;
    }
    .block5 {
        height: 760px;
    }
    .block5_price:hover {
        top: -2.692em;
    }
    .block5_price_text3 {
        top: -14%;
    }
    .block5_price:hover .block5_price_text3 {
        top: -5.5%;
    }
    .block6 {
        height: 760px;
    }    
    .block6__icons_icon1, .block6__icons_icon3, .block6__icons_icon5, .block6__icons_icon7 {
        background-position: 10px;
    }
    .block6__icons_icon1, .block6__icons_icon2, .block6__icons_icon4,
    .block6__icons_icon5, .block6__icons_icon6, .block6__icons_icon7 {
        background-size: 80%;
    }
    .block6__icons_icon3 {
        background-size: 60%;
    } 
    .clients__client1, .clients__client2, .clients__client3, .clients__client4 {
        background-size: 25%;
    } 
    .block7 {
        height: 800px;
    }    
    .block8 {
        height: 1000px;
    }    
    .block8__map {
        background-size: 100%;
    } 
}